.btnSubmit {
    background: linear-gradient(to right, #1f1cc0, #1945be);
}

.cardContacts {
    border: 3px solid;
    border-image: linear-gradient(to left, transparent, #1D4ED8);
    border-image-slice: 1;
}