/* Criando as 3 barrinhas do menu Hamburger */
.bar {
    height: 3px; 
    width: 30px;
    margin: 3px auto;
    transition: .6s;
}

/* Ao clicar no botão irá alterar a barra para ficar como um X */
.bar1 {
    transform: rotate(-45deg) translate(-10px, 5px);
}

.bar2 {
    opacity: 0;
}
  
.bar3 {
    transform: rotate(45deg) translate(-13px, -8px);
}

/* Menu aberto */
.menu {
    position: absolute;    
    right: 0;
    left: 0;
    top: 0;
}

/* Barra de fechar o menu ( X ) */
.barMenuOpen1 {
    transform: rotate(-45deg) translate(0px, -10px);
}
  
.barMenuOpen2 {
    transform: rotate(45deg) translate(-14px, -5px);
}


