header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #27272A, #02005c);
    border-image-slice: 1;
}

@media screen and (max-width: 640px) {
    header {
        position: relative;
    }
}